body{
	background-color:#f8f8f8;
}
.book-library{
	background-color:#ffffff;
	padding-left:200px
	
}
.book{
  /* margin: auto; */
  width: 50%;
    border: 3px solid grey;
	box-shadow: 5px 5px 5px 5px grey;
     padding: 10px;
	margin:10px;
	justify-content:center;
	align-items:center;
	text-align:center;
}
img{
  justify-content:center;
	align-items:center;	
	width:50%;
	margin:auto;
}
.price{
	color:#777777;
	background-color:
	rgb(46, 204, 113);
	text-align:center;
	border-radius:5px;
}
.author{
	color:#2ecc71;
	text-align:left;
}
h2{
	text-align:left;
}

h1{

}